<!-- templates/form.html -->
{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}

<div>
<form action="/new_cards/{{deck}}">
<button class='form' type='submit'>
	Дай карту
	</button>
	</form>
</div>
	<div>
    <p>Осталось в колоде {{rem}}</p>
	<p>Счет игрока {{sum_score_player}}</p>
	</div>
<div class="cardsrow">
 <div class="row">
  {% for draw in cardsrow %}
    <div class="col-md-3">
      <div class="draw mb-3">
       <div class="card-body"> 
     <!--<p class="badge bg-primary text-wrap"><{{draw}}></p> -->
         <p class="badge bg-primary text-wrap"><img src={{draw}}></p> 
		  </div>
      </div>
    </div>	
  {% endfor %}
  </div>
</div>


{% endblock %}













<!-- <form action="/submit" method="POST">
 <label for="name">Name:</label>
    <input type="text" id="name" name="name" required>

    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required>

    <button type="submit">Submit</button>
</form> -->