<!-- templates/form.html -->
<!DOCTYPE html>
{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}

<div>
<form action="/new_cards/{{deck}}">
<button class='form' type='submit' id='give_card'>
	Дай карту
	</button>
	</form>		
</div>
<br>
<div>
<form action="/form/">
<button class='form' type='submit'>
	Начать заново
	</button>
	</form>    
</div>
<br>
<div>
<form action="/dealer/{{deck}}">
<button class='form' type='submit' id='pass'>
	Пас
	</button>
	</form>    
</div>

<div>
{% if game_over %}
	<script>{document.getElementById("give_card").disabled = true;}</script>
	<script>{document.getElementById("pass").disabled = true;}</script>
<p>{{message}}</p>

	{%if loser%} 
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQr2KuOy1sD82kDJzveyWSLlKD9U6QFDGHWhQ&s" 
width="300" height="200" alt="Иконка">
	{% endif %}
	
	{%if winner%} 
<img src="https://static.stratege.ru/trophies/NPWR01460_00/TROP029.PNG" 
 height="200" alt="Иконка">
	{% endif %}
{% endif %}
</div>


<div>
    <p>Осталось в колоде {{rem}}</p>
	<p>Счет игрока {{sum_score_player}}</p>
	<p>Счет дилера {{sum_score_dealer}}</p>
</div>
<div class="cardsrow">
 <div class="row">
 <p> Твои карты:</p>
  {% for draw in cardsrow %} <!-- Для игрока -->
    <div class="col-md-3">
      <div class="draw mb-3">
       <div class="card-body"> 
         <p class="badge bg-primary text-wrap"><img src={{draw}} height="200" ></p>
		  </div>
      </div>
    </div>	
  {% endfor %}
  </div>
</div>

<div class="dealer_cards">
 <div class="row">
  <p> Карты дилера:</p>
  {% for draw in dealer_cards %} <!-- Для дилера -->
    <div class="col-md-3">
      <div class="draw mb-3">
       <div class="card-body"> 
         <p class="badge bg-primary text-wrap"><img src={{draw}} height="200"></p>
		  </div>
      </div>
    </div>	
  {% endfor %}
  </div>
</div>

{% endblock %}
 <!-- Условие для окончания игры -->
<!--  <script> 
if (game_over=true) {
      document.getElementById("give_card").disabled = true;} 
</script> <!-- Вырубить кнопку дай карту -->
		<!-- <p class="losing-message"; style="color:red;">Вы проиграли, сыграем еще?</p>
		 <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQr2KuOy1sD82kDJzveyWSLlKD9U6QFDGHWhQ&s" alt="Иконка">  
<br><br> 
<!-- <form action="/form/">
<button class='form' type='submit'>
	ГО некст рили
	</button>
	</form> -->   